<% layout("/layouts/boilerplate") %>
<script>
    const mapToken="<%= process.env.MAP_tOKEN %>";
    const listing=JSON.parse('<%- JSON.stringify(idvalues) %>');
</script>

    <br><br>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Edit Your Listing</h1>
    <form method="post" action="/listing/<%=idvalues._id  %>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listall[title]" 
            value="<%=idvalues.title %>" 
            type="text"
            class="form-control"
            required
            />
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
                name="listall[description]" class="form-control" required><%=idvalues.description %>  
            </textarea>
            <div class="invalid-feedback">please enter a short description</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input 
                name="listall[image][url]"
                type="file" 
                class="form-control"
            >
        </div>
         
         <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listall[price]" value="<%=idvalues.price %>" type="number" class="form-control" required>
                <div class="invalid-feedback">price should be valid</div>
            </div>
            
            <div class="mb-3 col-md-8" >
            <label for="country" class="form-label">Country</label>
            <input name="listall[country]" value="<%=idvalues.country %>" type="text" class="form-control" required>
            <div class="invalid-feedback">country name should be valid</div>
            </div>
            
        <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listall[location]" value="<%=idvalues.location %>" type="text" class="form-control" required>
                <div class="invalid-feedback">location name should be valid</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Edit</button>
    </form>
    </div>
    <div class="col-7 offset-0 mb-3">
            <div id="map"></div>
        </div>
    </div>
<script src="/js/map.js"></script>