<% layout("/layouts/boilerplate") %>
    <br><br>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Edit Your Listing</h1>
    <form method="post" action="/listing/<%=idvalues._id  %>?_method=put">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listall[title]" 
            value="<%=idvalues.title %>" 
            type="text"
            class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
                name="listall[description]" class="form-control"><%=idvalues.description %>
            </textarea>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listall[image][url]" value="<%=idvalues.image.url %>" type="text" class="form-control">
       
        </div>
         
         <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listall[price]" value="<%=idvalues.price %>" type="number" class="form-control">
            </div>
            <div class="mb-3 col-md-8" >
            <label for="country" class="form-label">Country</label>
            <input name="listall[country]" value="<%=idvalues.country %>" type="text" class="form-control">
            </div>
        </div>
        <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listall[location]" value="<%=idvalues.location %>" type="text" class="form-control">
            </div>
        <br>
        <button class="btn btn-dark add-btn">Edit</button>
        <br><br>
        <div class="name">hi sonali</div>
         <button class="btn btn-dark add-btn">Edit</button>
        <br><br>
        <div class="name">hi sonali</div>
    </form>
    </div>
    </div>
