<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <h1>Create a new list</h1>
    <form method="post" action="/listing/<%=idvalues._id  %>?_method=put">
        <input name="listall[title]" value="<%=idvalues.title %>" type="text"><br><br>
        <textarea name="listall[description]" ><%=idvalues.description %></textarea><br><br>
        <input name="listall[image]" value="<%=idvalues.image %>" type="text"><br><br>
        <input name="listall[price]" value="<%=idvalues.price %>" type="number"><br><br>
        <input name="listall[country]" value="<%=idvalues.country %>" type="text"><br><br>
        <input name="listall[location]" value="<%=idvalues.location %>" type="text"><br><br>
        <button>Add</button>
    </form>
</body>
</html>